<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Usuarios</title>
</head>
<body>
<a href="/crearUsuario">Crear Usuario</a>
<table border>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
    </tr>
    {% for usuario in usuarios %}
    <tr>
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.email }}</td>
        <td>
            <a href="/actualizarUsuario/{{ usuario.id }}">Editar</a>
        </td>
        <td>
            <form action="/eliminarUsuario/{{usuario.id}}" method="post">
                <button>Eliminar</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

<hr>
</body>
</html>